/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

td {
    padding: 12px;
}

h2 {
    color: $vin-blue;
}

.savings {
    color: $vin-green;
}

.loss {
    color: $vin-red;
}

input.small {
    width: 46px;
}

td.fuel-savings-label {
    width: 175px;
}

.header {
    height: 71px;
    background: #00cdef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00cdef, #009fda); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00cdef, #009fda); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00cdef, #009fda); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00cdef, #009fda);
    margin-bottom: 60px;

    .header-title {
        font-size: 36px;
        color: white;
    }
}

.form-control {
    border-radius: 1px;
    border-color: #e2e2e2;
}

.btn-block {
    display: block;
    width: 100%;
}
